import React, { useEffect, useState } from 'react';
import { Button, Form, message, Modal } from 'antd';
import { ItemType } from '@ebonex/ebonex-ui/lib/quick-form/BaseForm/types';
import { QuickForm } from '@ebonex/ebonex-ui';

const <%= data.name %> = ({ open, onSuccess, onCancel }) => {
  const [form] = Form.useForm();
  const [loading, setLoading] = useState(false);
  const handleSubmit = async () => {
    setLoading(true);

    form
      .validateFields()
      .then((res) => {
        // 此处promise替换成接口
        return new Promise((r) => {
          setTimeout(() => r({ success: true }), 300);
        });
      })
      .then((res) => {
        if (res.success) onSuccess();
        else message.error(res.msg)
      })
      .finally(() => {
        setLoading(false);
      });
  };
  const schema = [
    {
      id: 'Field1',
      label: 'Field1',
      type: 'text',
      formItemProps: {
        rules: [{ required: true }],
      },
    },
    {
      id: 'Field2',
      label: 'Field2',
      type: 'checkbox',
      formItemProps: {
        rules: [{ required: true }],
      },
      fieldProps: {
        options: [
          { label: 'React', value: 'React' },
          { label: 'VUE', value: 'VUE' },
        ],
      },
    },
    {
      id: 'Field3',
      label: 'Field3',
      type: 'select',
      formItemProps: {
        rules: [{ required: true }],
      },
      fieldProps: {
        options: [
          { label: 'React', value: 'React' },
          { label: 'VUE', value: 'VUE' },
        ],
      },
    },
  ];

  const footerBtns = [
    <Button key="cancel" onClick={onCancel}>
      Cancel
    </Button>,
    <Button
      key="submit"
      type="primary"
      loading={loading}
      onClick={handleSubmit}
    >
      Submit
    </Button>,
  ];

  useEffect(() => {
    if (open) form.resetFields();
  }, [open]);

  return (
    <Modal title="Create" open={open} onCancel={onCancel} footer={footerBtns}>
      <QuickForm form={form} schema={schema} submitButtonShow={false} />
    </Modal>
  );
};
export default <%= data.name %>;
